
.title {
  margin-top: 50px;
  align-items: center;
  text-align: center;
  color:#1E2631;
  font-size: 20px;
}

.subtitle_area {
  display: flex;
  justify-content: space-around;
  color:#1E2631;
  font-size: 20px;
}

.text {
  width: 992px;
  height: 250px;
  border: 1px solid #1D628B;
  border-radius: 5px;
  background-color:#F8F9FB;
  align-self:center;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  font-size: 20px;
  color:#1E2631;
}

.keyboard_area {
  width: 992px;
  border: 3px solid #1D628B;
  border-radius: 5px;
  background-color:#73B1D6;
  align-self:center;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
}

.keys {
  width: 50px;
  height: 50px;
  border: 1px solid #1D628B;
  border-radius: 5px;
  background-color:#4589B0;
  margin: 3px;
  padding: 3px;
  font-style: Arial;
  font: 1em sans-serif;
  font-size: 20px;
  color:#FFFFF7;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items:center;
  user-select: none;
}

.key_text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.clearfix {
  display: block;
  width: 100%;
  clear: both;
}

.keys:hover {
  border: 1px solid #7BBBD6;
  box-shadow: 0 0 5px #E1F2F9;
}

.active {
  background-color:#1D628B;
  border-radius: 10px;
}

.backspace {
  width: 145px;
}

.tab-del {
  width: 66px;
}

.caps-shift-ent {
  width: 130px;
}

.space {
  width: 450px;
}

.ctrl {
  width: 58px;
}

.text-upper {
  text-transform: capitalize;
}

.caps-active {
  background-color:#1D628B;
  border-radius: 20px;
  color:#A9FFFF;
}

.text-ShiftUpper {
  text-transform: capitalize;
}

.shift-active1 {
  background-color:#1D628B;
  border-radius: 20px;
  color:#A9FFFF;
}
.alt-active {
  background-color:#1D628B;
  border-radius: 20px;
  color:#A9FFFF;
}

.text-lower {
  text-transform:lowercase;
}